@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@Html.TextBox("Nome",null, new { @class = "form-control", placeholder = "Nome" })
@Html.TextBox("Sobrenome", null, new { @class = "form-control", placeholder = "Sobrenome" })
@Html.TextBox("CPF",null, new { @class = "form-control"})
@Html.TextBox("CPF2", null, new { @class = "form-control", placeholder = "000.000.000-00"})
<p>123456789.</p>
